# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [{
      'label': 'Appbuilder',
      'submenu': [{
          'command': 'appbuilder:simulate',
          'label': 'Simulate'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Appbuilder'
      'submenu': [
        {
          'label': 'Login',
          'command': 'appbuilder:login'
        },
        {
          'label': 'Simulate',
          'command': 'appbuilder:simulate'
        }
      ]
    ]
  }
]
